:root {
  --white: #ffffff;
  --light: #f8f8f8;
  --lightgrey: #bbbbbb;
  --grey: #888888;
  --black: #000000;

  --lightblue: #f2f0ff;
}

/* --- Tasks list --- */

.search-form {
  padding-bottom: 0;
}

.search-form .fields-container {
  margin-bottom: 40px;
}

.search-form .fieldset {
  padding: 0;

  border: none;
}

.search-form .fieldset:not(:last-child) {
  margin-bottom: 20px;
}

.search-form .head-card {
  margin-bottom: 5px;
}

.search-form .fieldset label {
  display: block;
}

.search-form .fieldset label:not(:last-child) {
  margin-bottom: 8px;
}

.search-form .checkbox {
  margin-right: 10px;
}

.search-form select {
  width: calc(100% - 17px * 2);
  margin: 0;
}

.search-form .button.button--blue {
  width: calc(100% - 26px * 2);
  margin: 0;
}

/* --- Task page --- */

.head-wrapper .head-main {
  flex: 1 1 auto;
  margin-right: 30px;
}

.head-wrapper .price {
  flex: 0 1 auto;
}

#map {
  width: 725px;
  height: 346px;
  margin-bottom: 36px;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  overflow: hidden;
}

.response-card {
  display: grid;
}

.response-card--task {
  grid-template-columns: 146px 1fr auto;
}

.response-card .response-message {
  width: unset;
}

.response-card .price {
  text-align: right;
}

.feedback-wrapper .link {
  margin-bottom: 10px;
}

.response-card .response-wrapper .reviews {
  margin-top: 0;
}

.stars-rating {
  display: flex;
  justify-content: center;
}

.stars-rating span {
  margin-top: 0;
}

.stars-rating.small span::before {
  height: 18px;
}

.black-list-link {
  text-decoration-color: transparent;
  color: var(--white);

  transition: 0.15s;
}

.black-list-link:hover {
  text-decoration-color: var(--white);
}

.file-card {
  padding-bottom: 25px;
}

/* --- Absent avarars --- */

.customer-photo--absent,
.card-photo--absent {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: var(--grey);
}

.customer-photo--absent {
  width: 126px;
  height: 156px;
  padding: 0 10px;
}

.card-photo--absent {
  width: 190px;
  height: 189px;

  background-color: var(--light);
  border: 1px solid var(--lightgrey);
}

/* --- User profile --- */

.specialization-bio .specialization {
  margin-right: 30px;
}

.specialization-bio .specialization .special-list {
  margin-right: 0;
}

.response-card--user-profile {
  grid-template-columns: 120px 1fr auto;
}

.customer-photo--user-profile {
  width: 90px;
  height: 127px;
  padding: 0 15px;

  font-size: 16px;
}

/* --- Registration --- */

.registration-form {
  padding: 35px 40px;
}

.registration-form .control-label {
  margin-bottom: 0;
}

.registration-form .button {
  width: calc(100% - 27px * 2);
  margin-bottom: 0;
  padding: 10px 25px;
}

.registration-form .form-group .control-label input {
  margin-top: 0;
  margin-right: 5px;
}

/* --- Login form --- */

.login-form .form-group {
  margin-bottom: 35px;
}

.login-form .form-group .input-middle {
  margin-bottom: 5px;
}

/* --- Add task --- */

.add-task-container {
  width: 100%;
}

.add-task-container .add-task-form {
  margin: 55px auto 0;
}

.add-task-container .add-task-form .form-group .control-label {
  margin-bottom: 2px;
}

.add-task-container .add-task-form .half-wrapper .field-task-budget {
  width: 42%;
}

.add-task-container .add-task-form .half-wrapper .form-group:first-child {
  margin-right: 10px;
}

.add-task-container .add-task-form .half-wrapper input {
  margin-right: 0;
}

.add-task-form .add-files-container {
  margin-bottom: 5px;
}

.add-task-form .add-files-container .add-files-error {
  visibility: visible;
}

.new-file {
  width: revert;
  height: revert;
  margin: 0;
  padding: 20px;
}

.new-file .add-file {
  margin: revert;
}

.add-task-form .button {
  margin-bottom: 0;
  padding: 10px 25px;
}

.new-file.dropzone.dz-started {
  background-image: none;
}

/* --- Modal windows --- */

.pop-up {
  padding: 20px;
}

.pop-up .pop-up__heading {
  margin-bottom: 30px;
  padding-right: 20px;
}

.pop-up .button--close {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 40px;
  height: 40px;
  padding: 5px;

  border: none;
}

.pop-up .button--close:active {
  padding: 6px 5px 4px;
}

.pop-up .button--close::after {
  position: static;

  padding: 0;
}

.pop-up .pop-up--form {
  width: 100%;
}

.pop-up--form textarea {
  width: calc(100% - 9px * 2);
  max-width: unset;
}

.pop-up--form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.pop-up--form input, .pop-up--form textarea {
  padding: 9px;
  border-radius: 7px;
  border: solid 2px #989898;
}

.form-group input[type="number"] {
  width: 50%;
}

.pop-up .button {
  margin-bottom: 0;
  padding: 10px 25px;
}

.pop-up--form .rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pop-up--form .stars-rating {
  justify-content: flex-start;
}

.pop-up--form .rating-label {
  margin: 0 0 5px 0;
}

.pop-up--form .stars-rating.big span::before {
  height: 20px
}

.pop-up--completion .form-group:last-of-type .control-label {
  line-height: 25px;
}

.stars-rating--interactive {
  flex-direction: row-reverse;
}

.stars-rating--interactive .rating-item {
  cursor: pointer;
}

.stars-rating--interactive .rating-item:hover,
.stars-rating--interactive .rating-item:hover ~ .rating-item {
  background-image: url("../img/star-fill.svg");
}

.stars-rating--interactive[data-total-value="1"] .rating-item:nth-child(n + 5),
.stars-rating--interactive[data-total-value="2"] .rating-item:nth-child(n + 4),
.stars-rating--interactive[data-total-value="3"] .rating-item:nth-child(n + 3),
.stars-rating--interactive[data-total-value="4"] .rating-item:nth-child(n + 2),
.stars-rating--interactive[data-total-value="5"] .rating-item:nth-child(n + 1) {
  background-image: url("../img/star-fill.svg");
}
