:root {
  --white: #ffffff;
  --light: #f8f8f8;
  --lightgrey: #bbbbbb;
  --grey: #888888;
  --grey-2: #989898;
  --black: #000000;

  --error: #c7e3ff;
  --vk: #0077ff;
  --vk-pale: #6cb5ff;
  --vk-light: #ecf5ff;

  --profile-checkbox-label: var(--grey-2);
}

/* --- Landing page --- */

.page-header--index .page-header__container--index {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.page-header__container--index .page-header__logo--index {
  grid-column: 2 / 3;

  text-align: center;
}

.page-header__logo--index .logo-image--index {
  padding: 0;
}

.page-header__container--index .header__account--index {
  grid-column: 3 / 4;
  margin-left: 0;

  text-align: right;
}

.auth-error {
  width: 75%;
  margin-left: auto;

  font-size: 14px;
  color: var(--error);
}

/* --- Tasks list --- */

.tasks-list {
  margin: 0 0 40px 0;
  padding: 0;

  list-style: none;
}

.search-form {
  padding-bottom: 0;
}

.search-form .fields-container {
  margin-bottom: 40px;
}

.search-form .fieldset {
  padding: 0;

  border: none;
}

.search-form .fieldset:not(:last-child) {
  margin-bottom: 20px;
}

.search-form .head-card {
  margin-bottom: 5px;
}

.search-form .fieldset label {
  display: block;
}

.search-form .fieldset label:not(:last-child) {
  margin-bottom: 8px;
}

.search-form .checkbox {
  margin-right: 10px;
}

.search-form select {
  width: calc(100% - 17px * 2);
  margin: 0;
}

.search-form .button.button--blue {
  width: calc(100% - 26px * 2);
  margin: 0;
}

/* --- Pagination --- */

.pagination-list {
  margin-bottom: 40px;
}

.pagination-item {
  width: 50px;
  margin-top: 0;
}

.pagination-item .link--page {
  display: flex;
  padding: 12px 0;
  justify-content: center;
}

.pagination-item.mark .link--page {
  min-height: 23px;
}

.pagination-item.mark {
  cursor: pointer;
}

.pagination-item.mark.disabled {
  cursor: default;
}

.pagination-item.mark::after {
  z-index: 1;

  pointer-events: none;
}

.pagination-item.mark::after,
.pagination-item.mark::before {
  pointer-events: none;
}

.pagination-item.mark:hover::after {
  /* same icon on hover */
  background-image: url('/img/arrow-hover.svg');
}

.pagination-item.mark:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 30px;
  height: 30px;

  background-color: #f5f5f6;
  border-radius: 15px;

  transform: translate(-50%, -50%);
}

.pagination-item.mark.disabled:hover::before {
  content: none;
}

/* --- Task page --- */

.head-wrapper .head-main {
  flex: 1 1 auto;
  margin-right: 30px;
}

.head-wrapper .price {
  flex: 0 1 auto;
}

#map {
  width: 725px;
  height: 346px;
  margin-bottom: 36px;

  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  overflow: hidden;
}

.response-card {
  display: grid;
}

.response-card--task {
  grid-template-columns: 146px 1fr auto;
}

.response-card .response-message {
  width: unset;
}

.response-card .price {
  text-align: right;
}

.feedback-wrapper .link {
  margin-bottom: 10px;
}

.response-card .response-wrapper .reviews {
  margin-top: 0;
}

.stars-rating {
  display: flex;
  justify-content: center;
}

.stars-rating span {
  margin-top: 0;
}

.stars-rating.small span::before {
  height: 18px;
}

.black-list-link {
  text-decoration-color: transparent;
  color: var(--white);

  transition: 0.15s;
}

.black-list-link:hover {
  text-decoration-color: var(--white);
}

.file-card {
  padding-bottom: 25px;
}

/* --- Absent avarars --- */

.customer-photo--absent,
.card-photo--absent {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: var(--grey);
}

.customer-photo--absent {
  width: 126px;
  height: 156px;
  padding: 0 10px;
}

.card-photo--absent {
  width: 190px;
  height: 189px;

  background-color: var(--light);
  border: 1px solid var(--lightgrey);
}

/* --- User profile --- */

.specialization-bio .specialization {
  margin-right: 30px;
}

.specialization-bio .specialization .special-list {
  margin-right: 0;
}

.response-card--user-profile {
  grid-template-columns: 120px 1fr auto;
}

.customer-photo--user-profile {
  width: 90px;
  height: 127px;
  padding: 0 15px;

  font-size: 16px;
}

/* --- Registration --- */

.registration-form {
  margin-bottom: 30px;
  padding: 35px 40px;
}

.registration-form .control-label {
  margin-bottom: 0;
}

.registration-form .button {
  width: calc(100% - 27px * 2);
  margin-bottom: 0;
  padding: 10px 25px;
}

.registration-form .form-group .control-label input {
  margin-top: 0;
  margin-right: 5px;
}

.auth-block--registration {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  justify-content: center;
  margin-bottom: 5px;
}

.auth-block--registration .auth-container {
  width: 250px;
}

.auth-block--registration .auth-container:not(:last-child) {
  margin-bottom: 0;
}

.auth-block--registration .button {
  width: calc(100% - 12px * 2);
  margin-bottom: 0;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.auth-error--registration {
  width: 500px;
  margin: 0 auto;

  text-align: center;
  color: var(--vk-pale);
}

/* --- Login form --- */

.form-modal--login {
  border-radius: 10px;
  padding-bottom: 25px;
}

.form-modal--login h2 {
  margin-bottom: 50px;
}

.login-form {
  margin-bottom: 30px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-group .input-middle {
  margin-bottom: 5px;
}

.form-modal--login .button {
  display: block;
  float: unset;
  margin: 0 auto;

  text-align: center;

  border-radius: 8px;
}

.form-modal--login .button:not(:last-child) {
  margin-bottom: 50px;
}

.auth-container:not(:last-child) {
  margin-bottom: 10px;
}

.auth-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button--auth {
  width: 75%;
  padding: 10px;
  font-size: 14px;
  text-transform: initial;
}

.button--VK {
  color: var(--vk);

  background-color: var(--white);
  border: 2px solid var(--vk);

  transition: 0.2s;
}

.button--VK:hover {
  background-color: var(--vk-light);
}

.button--auth:not(:last-child) {
  margin-bottom: 10px;
}

/* --- Add task --- */

.add-task-container {
  width: 100%;
}

.add-task-container .add-task-form {
  margin: 55px auto 0;
}

.add-task-container .add-task-form .form-group .control-label {
  margin-bottom: 2px;
}

.add-task-container .add-task-form .half-wrapper .field-task-budget {
  width: 42%;
}

.add-task-container .add-task-form .half-wrapper .form-group:first-child {
  margin-right: 10px;
}

.add-task-container .add-task-form .half-wrapper input {
  margin-right: 0;
}

.add-task-form .add-files-container {
  margin-bottom: 5px;
}

.add-task-form .add-files-container .add-files-error {
  visibility: visible;
}

.new-file {
  width: revert;
  height: revert;
  margin: 0;
  padding: 20px;
}

.new-file .add-file {
  margin: revert;
}

.add-task-form .button {
  margin-bottom: 0;
  padding: 10px 25px;
}

.new-file.dropzone.dz-started {
  background-image: none;
}

/* --- Modal windows --- */

.pop-up {
  padding: 20px;
}

.pop-up .pop-up__heading {
  margin-bottom: 30px;
  padding-right: 20px;
}

.pop-up .button--close {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 40px;
  height: 40px;
  padding: 5px;

  border: none;
}

.pop-up .button--close:active {
  padding: 6px 5px 4px;
}

.pop-up .button--close::after {
  position: static;

  padding: 0;
}

.pop-up .pop-up--form {
  width: 100%;
}

.pop-up--form textarea {
  width: calc(100% - 9px * 2);
  max-width: unset;
}

.pop-up--form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.pop-up--form input, .pop-up--form textarea {
  padding: 9px;
  border-radius: 7px;
  border: solid 2px #989898;
}

.form-group input[type="number"] {
  width: 50%;
}

.pop-up .button {
  margin-bottom: 0;
  padding: 10px 25px;
}

.pop-up--form .rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pop-up--form .stars-rating {
  justify-content: flex-start;
}

.pop-up--form .rating-label {
  margin: 0 0 5px 0;
}

.pop-up--form .stars-rating.big span::before {
  height: 20px
}

.pop-up--completion .form-group:last-of-type .control-label {
  line-height: 25px;
}

.stars-rating--interactive {
  flex-direction: row-reverse;
}

.stars-rating--interactive .rating-item {
  cursor: pointer;
}

.stars-rating--interactive .rating-item:hover,
.stars-rating--interactive .rating-item:hover ~ .rating-item {
  background-image: url("../img/star-fill.svg");
}

.stars-rating--interactive[data-total-value="1"] .rating-item:nth-child(n + 5),
.stars-rating--interactive[data-total-value="2"] .rating-item:nth-child(n + 4),
.stars-rating--interactive[data-total-value="3"] .rating-item:nth-child(n + 3),
.stars-rating--interactive[data-total-value="4"] .rating-item:nth-child(n + 2),
.stars-rating--interactive[data-total-value="5"] .rating-item:nth-child(n + 1) {
  background-image: url("../img/star-fill.svg");
}

/* --- Edit profile --- */

.photo-editing {
  align-items: flex-start;
}

.photo-editing .avatar-container {
  min-width: 81px;
  min-height: 125px;
  margin-right: 23px;
}

.photo-editing .avatar-container .avatar-preview {
  display: block;
}

.photo-editing .avatar-container .avatar-preview--hidden {
  display: none;
}

.photo-editing .avatar-container .avatar-preview--absent {
  display: flex;
  align-items: center;
  width: 61px;
  height: 61px;
  padding: 10px;

  font-size: 14px;
  text-align: center;
  color: var(--grey);

  background-color: var(--light);
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.photo-editing .avatar-container .avatar-caption {
  margin-bottom: 14px;
}

.photo-editing img {
  margin: 0;
}

.photo-editing .button {
  display: block;
  width: max-content;
  margin-top: 50px;
  margin-left: 0;
}

.my-profile-form .half-wrapper {
  display: grid;
  grid-template-columns: 299px 192px;
  column-gap: 21px;
}

.my-profile-form .has-error .help-block {
  line-height: 1.5;
}

.my-profile-form .categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  margin-bottom: 20px;
}

.my-profile-form .categories-list label {
  font-size: 16px;
  color: var(--profile-checkbox-label);

  cursor: pointer;
}

.my-profile-form .button--submit {
  display: block;
  min-width: 193px;
  padding: 15px 43px;
  margin-bottom: 0;
  margin-left: auto;

  font-size: 19px;

  border: none;
}
